<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Hello World!</title>

    <!-- Favicon -->
    <link href="/assets/img/brand/favicon.png" rel="icon" type="image/png">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <!-- Icons -->
    <link href="../../static/assets/css/nucleo-icons.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>

    <!-- Soft UI Dashboard -->
    <link type="text/css" href="../../static/assets" rel="stylesheet">
</head>

<body>
    <h1>Hello, world!</h1>


    <!-- Navbar Dark -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-gradient-dark z-index-3 py-3">
        <div class="container">
            <a class="navbar-brand text-white" href="" rel="tooltip" title="Designed and Coded by Creative Tim"
                data-placement="bottom" target="_blank">
                Soft UI Dashboard
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navigation">
                <ul class="navbar-nav navbar-nav-hover ms-auto">
                    <div class="row">
                        <div class="col-auto m-auto">
                            <a class="text-white cursor-pointer">
                                <i class="fa fa-cog fixed-plugin-button-nav"></i>
                            </a>
                        </div>
                        <div class="col-auto m-auto">
                            <div class="dropdown">
                                <a class="text-white cursor-pointer" type="button" id="dropdownMenuButton"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-bell"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right px-2 py-3 ms-n4"
                                    aria-labelledby="dropdownMenuButton">
                                    ...
                                </ul>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="bg-white border-radius-lg d-flex me-2">
                                <input type="text" class="form-control border-0 ps-3" placeholder="Type here...">
                                <button class="btn bg-gradient-primary my-1 me-1">Search</button>
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->


    <!--   Core JS Files   -->
    <script src="../../static/assets/js/core/popper.min.js" type="text/javascript"></script>
    <script src="../../static/assets/js/core/bootstrap.min.js" type="text/javascript"></script>
    <script src="../../static/assets/js/plugins/perfect-scrollbar.min.js" type="text/javascript"></script>

    <!-- Control Center for Soft UI Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="../../static/assets/js/soft-ui-dashboard.min.js" type="text/javascript"></script>
</body>

</html>